.content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 40px 100px;
  position: relative;
  background-color: #ffffff;
  margin-left: 250px;
}

.content .text-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.content .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 80px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.content .div {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 52px;
  letter-spacing: 0;
  line-height: Truepx;
}

.content .sliderbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 121px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.content .sidebar-option {
  position: relative;
  width: 200px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #9747ff;
  padding: 10px;
}

.content .property-default {
  align-items: center;
  gap: 8px;
  padding: 8px;
  top: 20px;
  display: flex;
  width: 210px;
  position: absolute;
  left: 20px;
}

.content .img {
  position: relative;
  width: 40px;
  height: auto;
  max-width: 100%;
}

.content .typography {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.content .typography-2 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #064d26;
  font-size: 14px;
  letter-spacing: 0;
  line-height: Truepx;
}

.content .arrow {
  position: relative;
  width: 16px;
  height: 16px;
}

.content .property-hover {
  align-items: center;
  gap: 8px;
  padding: 8px;
  top: 115px;
  background-color: #d2e4d9;
  border-radius: 4px;
  display: flex;
  width: 210px;
  position: absolute;
  left: 20px;
}

.content .typography-3 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #065f2a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: Truepx;
}

.content .property-open {
  display: flex;
  flex-direction: column;
  width: 210px;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  border-radius: 4px;
}

.property-open .sidebar-option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #d1e3d9;
  border-radius: 4px;
}

.property-open .add-box {
  position: relative;
  width: 24px;
  height: 24px;
}

.property-open .typography {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
  position: relative;
  flex: 1;
}

.property-open .text-wrapper {
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #065f2a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16.3px;
  position: relative;
  flex: 1;
}

.property-open .arrow {
  position: relative;
  width: 16px;
  height: 16px;
}

.property-open .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #d1e3d9;
  border-radius: 4px;
}

.property-open .opt {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 8px 8px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 4px;
}

.property-open .typography-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 4px;
}

.property-open .div {
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #065f2a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14.0px;
  position: relative;
  flex: 1;
}

.content .sidebar-option-2 {
  display: flex;
  gap: 8px;
  padding: 8px;
  align-self: stretch;
  width: 100%;
  background-color: #d1e3d9;
  border-radius: 4px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.content .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #d1e3d9;
  border-radius: 4px;
}

.content .opt {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 8px 8px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 4px;
}

.content .typography-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 4px;
}

.content .typography-4 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #065f2a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: Truepx;
}

.content .sidebar-option-3 {
  position: relative;
  width: 80px;
  height: 147px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #9747ff;
}

.content .property-default-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.content .property-hover-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  position: absolute;
  top: 87px;
  left: 20px;
  background-color: #d2e4d9;
  border-radius: 4px;
}

.content .sidebar {
  display: inline-flex;
  gap: 24px;
  padding: 11px 20px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #9747ff;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.content .property-slider {
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 960px;
  align-items: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  background-color: #e4ebdb;
}

.content .image {
  position: relative;
  width: 60px;
  height: 60px;
}

.content .divider {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  background-color: #dcdee4;
}

.content .div-wrapper {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.content .typography-5 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #727c94;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: Truepx;
  white-space: nowrap;
}

.content .frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}

.content .frame::-webkit-scrollbar {
  width: 0;
  display: none;
}

.content .sidebar-option-4 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
}

.content .frame-2 {
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.content .property-slider-2 {
  display: flex;
  width: 250px;
  flex-direction: column;
  height: 960px;
  align-items: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  background-color: #e4ebdb;
}

.content .image-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 60px;
}

.content .typography-6 {
  display: flex;
  height: 15.68px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.content .typography-7 {
  position: relative;
  flex: 1;
  margin-top: -0.16px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #727c94;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: Truepx;
}

.content .frame-3 {
  align-items: flex-start;
  gap: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.content .frame-3::-webkit-scrollbar {
  width: 0;
  display: none;
}

.content .sidebar-option-5 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.content .sidebar-option-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.content .typography-8 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.content .typography-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #064d26;
  font-size: 14px;
  letter-spacing: 0;
  line-height: Truepx;
  white-space: nowrap;
}

.content .typography-10 {
  display: flex;
  height: 14px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.content .typography-11 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #727c94;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: Truepx;
}

.content .sidebar-option-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 4px;
}

.content .sidebar-option-8 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #d2e4d9;
}

.content .typography-12 {
  position: relative;
  flex: 1;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #064d26;
  font-size: 14px;
  letter-spacing: 0;
  line-height: Truepx;
}

.box {
  position: relative;
  width: 230px;
  height: 272px;
}

.box .secondary-buttom {
  position: fixed;
  width: 230px;
  height: 272px;
  top: 0;
  left: 0;
  border-radius: 5px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #9747ff;
}

.box .property-default {
  top: 20px;
  border-color: #0a843c;
  box-shadow: var(--nivel-2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px;
  position: absolute;
  left: 20px;
  border-radius: 8px;
  border: 1px solid;
}

.box .add-circle {
  position: relative;
  width: 24px;
  height: 24px;
}

.box .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #0a843c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: Truepx;
}

.box .property-hover {
  top: 84px;
  background-color: #ffffff;
  border-color: #0a843c;
  box-shadow: var(--nivel-2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px;
  position: absolute;
  left: 20px;
  border-radius: 8px;
  border: 1px solid;
}

.box .property-focus {
  top: 148px;
  background-color: #b8f7c8;
  border-color: #0a843c;
  box-shadow: var(--nivel-2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px;
  position: absolute;
  left: 20px;
  border-radius: 8px;
  border: 1px solid;
}

.box .property-disabled {
  top: 212px;
  border-color: #bababa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px;
  position: absolute;
  left: 20px;
  border-radius: 8px;
  border: 1px solid;
}

.box .div {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #bababa;
  font-size: 16px;
  letter-spacing: 0;
  line-height: Truepx;
}

.alianza-metro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #0a843c;
}

.alianza-metro .animation-logo {
  display: flex;
  flex-direction: column;
  width: 204px;
  height: 104.85px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 10px;
  position: relative;
}

.alianza-metro .image {
  position: relative;
  width: 60px;
  height: 60px;
}

.alianza-metro {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
  position: relative;
  background-color: #0a843c;
}

.alianza-metro .log-in {
  display: flex;
  flex-direction: column;
  width: 483px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 40px 20px;
  position: relative;
  background-color: #e4ebdb;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 8px 10px #00000033;
}

.alianza-metro .animation-logo {
  display: flex;
  flex-direction: column;
  width: 204px;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
}

.alianza-metro .logout {
  position: absolute;
  top: 10px;
  left: 10px;
  align-self: stretch;
  width: 100%;
  height: fit-content;
}

/*   .property-slider .image {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 60px;
  } */

.alianza-metro .divider {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  background-color: #dcdee4;
}

.alianza-metro .letters {
  width: 443px;
  height: 30px;

}

.alianza-metro .text-wrapper {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #064d26;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  font-style: semibold;
  margin-top: 20px;
}

.alianza-metro .drops-downs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 24px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.alianza-metro .element {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.alianza-metro .textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.alianza-metro .input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.alianza-metro .div {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--caption-light-font-family);
  font-weight: var(--caption-light-font-weight);
  color: #1e1e1e;
  font-size: var(--caption-light-font-size);
  letter-spacing: var(--caption-light-letter-spacing);
  line-height: var(--caption-light-line-height);
  white-space: nowrap;
  font-style: var(--caption-light-font-style);
}

/*   .alianza-metro .content {
    display: flex;
    min-width: 24px;
    min-height: 24px;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  } */

.alianza-metro .underline {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.alianza-metro .buttom {
  display: flex;
  flex-direction: column;
  width: 444px;
  align-items: center;
  gap: 10px;
  padding: 0px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -0.50px;
  margin-right: -0.50px;
}

.alianza-metro .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: #0a843c;
  border-radius: 8px;
  box-shadow: var(--sombras-nivel-2);
}

.alianza-metro .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-1-semibold-font-family);
  font-weight: var(--body-1-semibold-font-weight);
  color: #ffffff;
  font-size: var(--body-1-semibold-font-size);
  letter-spacing: var(--body-1-semibold-letter-spacing);
  line-height: var(--body-1-semibold-line-height);
  font-style: var(--body-1-semibold-font-style);
}

.property-slider {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;  
  width: 250px;
  height: 100vh;
  flex-wrap: wrap;
  background-color: #e4ebdb;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  padding: 20px 1rem;
  overflow-y: auto;
  z-index: 1000;
}

.property-slider .image {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 60px;
}

.property-slider .divider {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  background-color: #dcdee4;
}

.property-slider .typography {
  display: flex;
  height: 15.68px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.property-slider .text-wrapper {
  position: relative;
  flex: 1;
  margin-top: -0.16px;
  font-family: "Poppins-SemiBold", sans-serif;
  font-weight: 600;
  color: #727c94;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14.0px;
}

.property-slider .frame {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding: 0;
  align-items: flex-start;
  gap: .3rem;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  /* Desplazamiento si hay mucho contenido */
}

.property-slider .frame::-webkit-scrollbar {
  width: 0;
  display: none;
  /* Oculta la barra de desplazamiento */
}

.property-slider .sidebar-option {
  display: flex;
  padding: .8rem 1.3rem;
  gap: 5px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  position: relative;
  width: 220px;
  right: 14px;
}
.property-slider .sidebar-option:hover {
  background-color: #d1e3d9;
}

.property-slider .img {
  position: relative;

  width: 26px;
  height: 26px;
  color: #0a843c;
  fill: #0a843c;
}

.property-slider .typography-wrapper {
  display: flex;
/*   align-items: center;
  justify-content: center; */
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  color: #064d26;
  margin-left: 10px;
  font-family: "Poppins-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16.3px;

}

/* .property-slider .div {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: red;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16.3px;
} */

.property-slider .arrow {
  position: relative;
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.property-slider .sidebar-option-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.property-slider .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  
}

.property-slider .typography-2 {
  display: flex;
  height: 15.68px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.property-slider .sidebar-option {
  display: flex;
  padding: .8rem 1.3rem;
  gap: 5px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  position: relative;
  width: 220px;
  right: 14px;
}
.property-slider .sidebar-option:hover {
  background-color: #d1e3d9;
}

/* Contenedor principal */
.content {
  margin-left: 250px;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
  overflow-y: auto;
}
.property-slider .locura {
  position: relative;
  width: 26px;
  height: 26px;
  color: #0a843c;
  fill: #0a843c;
}
/* Contenido principal */
.home {
  margin-left: 250px;  /* Da espacio al contenido para que no se superponga al sidebar */
  padding: 20px; /* Solo para ilustrar el área del contenido */
  height: 100vh;  /* Asegura que el contenido ocupe toda la altura */
  overflow-y: auto;  /* Hace que el contenido sea desplazable si es largo */
  box-sizing: border-box;
  z-index: 1000;
}
/* Estilos del sidebar */
/* .property-slider {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #e4ebdb;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
}

.logo-sidebar {
  width: 210px;
  margin-bottom: 60px;
}

.sidebar-option {
  margin: 10px 0;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-option:hover {
  background-color: #ddd;
}

.typography-wrapper {
  font-size: 18px;
  font-weight: 600;
}

.divider {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}